<!doctype html>

<html lang="en" xmlns:th="http://www.rpi.ibesh.com">
<head>
    <meta charset="utf-8">
    <title>RPI Monitoring</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet" />
    <script data-th-inline="javascript">
        var nameJs = /*[[${period}]]*/;
    </script>
    <img data-th-src="@{/images/RPI.png}" alt="RPI"/>
</head>
<body>
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
<div align="center">
    <h1>Monitoring</h1>
</div>
<span>Задана периодичность: </span><span data-th-text="${period}"></span>
<form method = 'post' action="/monitoring">
    <p>Периодичность в сек.<label>
        <input name="period">
    </label><input type="submit" value = 'Применить'></p>
</form>
<p>Test <strong>very special</strong> </p>
<ul>
    <data-th-block th:each="name : ${names}">
        <li data-th-text="${name}"></li>
    </data-th-block>
</ul>
<p><label>Name:</label><span data-th-text="${period}"></span></p>
<button type="button" data-th-onclick="showName(nameJs);">Show period</button>
<button type="button" data-th-onclick="showAlert()">Show Alert</button>
</body>
</html>